{% extends "base.html" %}

{% block title %}Account Information{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-3xl font-bold text-sky-blue mb-6">Mi cuenta</h2>
    <div class="mb-4">
        <p class="text-lg"><strong>Nombre de usuario: </strong> {{ user.username }}</p>
        <p class="text-lg mb-6"><strong>Correo elecrónico: </strong> {{ user.email }}</p>
        <a href="{{ url_for('Auth.update_password') }}" class="text-blue-500 hover:underline text-lg">Change Password</a>
    </div>
    <hr class="mb-4">
    <form method="POST" action="{{ url_for('Auth.delete_account') }}">
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Eliminar mi cuenta</button>
    </form>
</div>
{% endblock %}
