{% extends "base.html" %}

{% block title %}Listado de Archivos y Directorios{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-3xl font-bold text-blue-400 mb-6">Mis Archivos</h2>

    <form method="POST" action="{{ url_for('File.list_files') }}" class="mb-6">
        <div class="flex items-center space-x-4">
            <label for="filepath" class="block text-gray-700 text-sm font-bold mb-2">Ruta</label>
            <input type="text" id="filepath" name="filepath" value="{{ currentdir }}"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <button id="getfiles" type="submit"
                class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Buscar</button>
        </div>
    </form>

    <div class="flex items-center space-x-4 mb-6">
        <button onclick="showModal('createDirectoryModal')"
            class="bg-green-400 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Crear
            Nueva Carpeta</button>
        <button onclick="showModal('uploadFileModal')"
            class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Subir
            Nuevo Archivo</button>
    </div>

    {% if files %}
    <h3 class="text-xl font-bold text-gray-700 mb-4">Directorios</h3>
    <ul class="list-disc pl-5 mb-6">
        {% if currentdir != '' %}
        <li>
            <a href="#" onclick="goUpOneLevel('{{ currentdir }}')" class="text-blue-400 hover:text-blue-700"><strong>..
                    (Subir un nivel)</strong></a>
        </li>
        {% endif %}
        {% for file in files if file.file_type == 'folder' %}
        <li class="mb-2">
            <img src="{{ url_for('static', filename='folder.png') }}" alt="Folder" class="h-8 w-8 inline-block mr-2">
            <a href="#" onclick="navigateToFolder('{{ currentdir }}', '{{ file.filename }}')"
                class="text-blue-400 hover:text-blue-700">{{ file.filename }}</a>


            <button onclick="openRenameModal('{{ file.id }}')"
                class="ml-2 bg-yellow-500 hover:bg-yellow-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                <i class="fas fa-edit"></i> Renombrar
            </button>
            <a href="{{ url_for('File.download_file', file_id=file.id) }}"
                class="ml-2 bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                <i class="fas fa-download"></i> Descargar
            </a>
            <form method="POST" action="{{ url_for('File.delete_file', file_id=file.id) }}" class="inline ml-2">
                <button type="submit"
                    class="bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </form>

            <div id="renameModal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeRenameModal('{{ file.id }}')">&times;</span>
                    <form method="POST" action="{{ url_for('File.rename_file', file_id=file.id) }}">
                        <label for="new_name">Nuevo Nombre:</label>
                        <input type="text" id="new_name" name="new_name" required>
                        <button type="submit">Renombrar</button>
                    </form>
                </div>
            </div>

            <div id="copyModal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeCopyModal('{{ file.id }}')">&times;</span>
                    <form method="POST" action="{{ url_for('File.copy_file', file_id=file.id) }}">
                        <label for="destination">Destino:</label>
                        <input type="text" id="destination" name="destination">
                        <button type="submit">Copiar</button>
                    </form>
                </div>
            </div>

            <div id="moveModal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeMoveModal('{{ file.id }}')">&times;</span>
                    <form method="POST" action="{{ url_for('File.move_file', file_id=file.id) }}">
                        <label for="destination">Destino:</label>
                        <input type="text" id="destination" name="destination">
                        <button type="submit">Mover</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <h3 class="text-xl font-bold text-gray-700 mb-4">Archivos</h3>
    <ul class="list-disc pl-5">
        {% for file in files if file.file_type == 'file' %}
        <li class="mb-2">
            <a href="#" onclick="showModal('modal{{ file.id }}')" class="text-blue-400 hover:text-blue-700">{{
                file.filename }}</a>
            <div id="modal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="hideModal('modal{{ file.id }}')">&times;</span>
                    <p><strong>ID:</strong> {{ file.id }}</p>
                    <p><strong>Nombre de usuario:</strong> {{ file.id_usuario }}</p>
                    <p><strong>Nombre del archivo:</strong> {{ file.filename }}</p>
                    <p><strong>Ruta del archivo:</strong> {{ file.filepath }}</p>
                    <p><strong>Tipo de archivo:</strong> {{ file.file_type }}</p>
                    <p><strong>Fecha de carga:</strong> {{ file.uploaded_at }}</p>


                    <a href="{{ url_for('File.download_file', file_id=file.id) }}"
                        class="bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                        <i class="fas fa-download"></i> Descargar
                    </a>
                    <button onclick="openRenameModal('{{ file.id }}')"
                        class="ml-2 bg-yellow-500 hover:bg-yellow-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                        <i class="fas fa-edit"></i> Renombrar
                    </button>
                    <button onclick="openCopyModal('{{ file.id }}')"
                        class="ml-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                        <i class="fas fa-copy"></i> Copiar
                    </button>
                    <button onclick="openMoveModal('{{ file.id }}')"
                        class="ml-2 bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                        <i class="fas fa-arrows-alt"></i> Mover
                    </button>
                    <form method="POST" action="{{ url_for('File.delete_file', file_id=file.id) }}" class="inline ml-2">
                        <button type="submit"
                            class="bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </form>
                </div>
            </div>

            <div id="renameModal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeRenameModal('{{ file.id }}')">&times;</span>
                    <form method="POST" action="{{ url_for('File.rename_file', file_id=file.id) }}">
                        <label for="new_name">Nuevo Nombre:</label>
                        <input type="text" id="new_name" name="new_name" required>
                        <button type="submit">Renombrar</button>
                    </form>
                </div>
            </div>

            <div id="copyModal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeCopyModal('{{ file.id }}')">&times;</span>
                    <form method="POST" action="{{ url_for('File.copy_file', file_id=file.id) }}">
                        <label for="destination">Destino:</label>
                        <input type="text" id="destination" name="destination">
                        <button type="submit">Copiar</button>
                    </form>
                </div>
            </div>

            <div id="moveModal{{ file.id }}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeMoveModal('{{ file.id }}')">&times;</span>
                    <form method="POST" action="{{ url_for('File.move_file', file_id=file.id) }}">
                        <label for="destination">Destino:</label>
                        <input type="text" id="destination" name="destination">
                        <button type="submit">Mover</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3 class="text-xl font-bold text-gray-700 mb-4">Directorios</h3>
    <ul class="list-disc pl-5 mb-6">
        {% if currentdir != '' %}
        <li>
            <a href="#" onclick="goUpOneLevel('{{ currentdir }}')" class="text-blue-400 hover:text-blue-700"><strong>..
                    (Subir un nivel)</strong></a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>

<!-- Modales -->
<div id="createDirectoryModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="hideModal('createDirectoryModal')">&times;</span>
        <h2>Create directory</h2>
        <form method="POST" action="{{ url_for('File.create_directory') }}">
            <div>
                <label for="directory name">Subfolder:</label>
                <input type="text" id="foldername" name="foldername" required>
                <input type="hidden" name="currentdir" value="{{ currentdir }}">
            </div>
            <button type="submit">Create directory</button>
        </form>
    </div>
</div>

<div id="uploadFileModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="hideModal('uploadFileModal')">&times;</span>
        <h2>Upload File</h2>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('File.upload_file') }}">
            <div>
                <label for="file">File:</label>
                <input type="file" id="file" name="file" required>
                <input type="hidden" name="subfolder" value="{{ currentdir }}">
            </div>
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<script>
    function goUpOneLevel(currentdir) {
        let pathParts = currentdir.split('/').filter(part => part.length > 0);
        pathParts.pop();
        let newpath = pathParts.join('/');
        document.cookie = 'currentdir=' + newpath + '; path=/';
        location.reload();
    }

    function navigateToFolder(currentdir, foldername) {
        let newpath = currentdir === '' ? foldername : currentdir + '/' + foldername;
        document.cookie = 'currentdir=' + newpath + '; path=/';
        location.reload();
    }

    function showModal(modalId) {
        document.getElementById(modalId).style.display = "block";
    }

    function hideModal(modalId) {
        document.getElementById(modalId).style.display = "none";
    }

    function openRenameModal(modalId) {
        document.getElementById('renameModal' + modalId).style.display = 'block';
    }

    function closeRenameModal(modalId) {
        document.getElementById('renameModal' + modalId).style.display = 'none';
    }

    function openCopyModal(modalId) {
        document.getElementById('copyModal' + modalId).style.display = 'block';
    }

    function closeCopyModal(modalId) {
        document.getElementById('copyModal' + modalId).style.display = 'none';
    }

    function openMoveModal(modalId) {
        document.getElementById('moveModal' + modalId).style.display = 'block';
    }

    function closeMoveModal(modalId) {
        document.getElementById('moveModal' + modalId).style.display = 'none';
    }
</script>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    li {
        list-style: none;
    }
</style>

{% endblock %}