{% extends "base.html" %}

{% block content %}

<h2>Listado de Archivos y Directorios</h2>

<form method="POST" action="{{ url_for('File.list_files') }}">
    <div>
        <label for="filepath">Ruta del Archivo/Directorio</label><br>
        <input type="text" id="filepath" name="filepath" value="{{ currentdir }}">
        <button id="getfiles" type="submit" class="btn">Listar</button>
    </div>
</form>

<div>
    <button onclick="showModal('createDirectoryModal')" class="btn">Crear Nueva Carpeta</button>
    <button onclick="showModal('uploadFileModal')" class="btn">Subir Nuevo Archivo</button>
</div>

{% if files %}
<h3>Directorios</h3>
<ul>
    {% if currentdir != '' %}
    <li>
        <a href="#" onclick="goUpOneLevel('{{ currentdir }}')"><strong>.. (Subir un nivel)</strong></a>
    </li>
    {% endif %}
    {% for file in files if file.file_type == 'folder' %}
    <li>
        <a href="#" onclick="navigateToFolder('{{ currentdir }}', '{{ file.filename }}')" class="btn">{{ file.filename }}</a>
        <button onclick="openRenameModal('{{ file.id }}')" class="btn">Renombrar</button>
        <a href="{{ url_for('File.download_file', file_id=file.id) }}" class="btn">Descargar</a>

        <form method="POST" action="{{ url_for('File.delete_file', file_id=file.id) }}">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>

        <div id="renameModal{{ file.id }}" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeRenameModal('{{ file.id }}')">&times;</span>
                <form method="POST" action="{{ url_for('File.rename_file', file_id=file.id) }}">
                    <label for="new_name">Nuevo Nombre:</label>
                    <input type="text" id="new_name" name="new_name" required>
                    <button type="submit" class="btn">Renombrar</button>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<h3>Archivos</h3>
<ul>
    {% for file in files if file.file_type == 'file' %}
    <li>
        <a href="#" onclick="showModal('modal{{ file.id }}')" class="btn">{{ file.filename }}</a>

        <div id="modal{{ file.id }}" class="modal">
            <div class="modal-content">
                <span class="close" onclick="hideModal('modal{{ file.id }}')">&times;</span>
                <p><strong>ID:</strong> {{ file.id }}</p>
                <p><strong>Nombre de usuario:</strong> {{ file.id_usuario }}</p>
                <p><strong>Nombre del archivo:</strong> {{ file.filename }}</p>
                <p><strong>Ruta del archivo:</strong> {{ file.filepath }}</p>
                <p><strong>Tipo de archivo:</strong> {{ file.file_type }}</p>
                <p><strong>Fecha de carga:</strong> {{ file.uploaded_at }}</p>

                <a href="{{ url_for('File.download_file', file_id=file.id) }}" class="btn">Descargar</a>
                <button onclick="openRenameModal('{{ file.id }}')" class="btn">Renombrar</button>
                <button onclick="openCopyModal('{{ file.id }}')" class="btn">Copiar</button>
                <button onclick="openMoveModal('{{ file.id }}')" class="btn">Mover</button>

                <form method="POST" action="{{ url_for('File.delete_file', file_id=file.id) }}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                <div id="renameModal{{ file.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeRenameModal('{{ file.id }}')">&times;</span>
                        <form method="POST" action="{{ url_for('File.rename_file', file_id=file.id) }}">
                            <label for="new_name">Nuevo Nombre:</label>
                            <input type="text" id="new_name" name="new_name" required>
                            <button type="submit" class="btn">Renombrar</button>
                        </form>
                    </div>
                </div>

                <div id="copyModal{{ file.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeCopyModal('{{ file.id }}')">&times;</span>
                        <form method="POST" action="{{ url_for('File.copy_file', file_id=file.id) }}">
                            <label for="destination">Destino:</label>
                            <input type="text" id="destination" name="destination">
                            <button type="submit" class="btn">Copiar</button>
                        </form>
                    </div>
                </div>

                <div id="moveModal{{ file.id }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeMoveModal('{{ file.id }}')">&times;</span>
                        <form method="POST" action="{{ url_for('File.move_file', file_id=file.id) }}">
                            <label for="destination">Destino:</label>
                            <input type="text" id="destination" name="destination">
                            <button type="submit" class="btn">Mover</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h3>Directorios</h3>
<ul>
    {% if currentdir != '' %}
    <li>
        <a href="#" onclick="goUpOneLevel('{{ currentdir }}')" class="btn"><strong>.. (Subir un nivel)</strong></a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!-- Modales -->
<div id="createDirectoryModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="hideModal('createDirectoryModal')">&times;</span>
        <h2>Create directory</h2>
        <form method="POST" action="{{ url_for('File.create_directory') }}">
            <div>
                <label for="directory name">Subfolder:</label>
                <input type="text" id="foldername" name="foldername" required>
                <input type="hidden" name="currentdir" value="{{ currentdir }}">
            </div>
            <button type="submit" class="btn">Create directory</button>
        </form>
    </div>
</div>

<div id="uploadFileModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="hideModal('uploadFileModal')">&times;</span>
        <h2>Upload File</h2>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('File.upload_file') }}">
            <div>
                <label for="file">File:</label>
                <input type="file" id="file" name="file" required>
                <input type="hidden" name="subfolder" value="{{ currentdir }}">
            </div>
            <button type="submit" class="btn">Upload</button>
        </form>
    </div>
</div>

<style
