{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create directory</h1>
    <form method="POST" enctype="multipart/form-data" class="create-directory-form">
        <div class="form-group">
            <label for="foldername">Subfolder:</label>
            <input type="text" id="foldername" name="foldername" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create directory</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
