{% extends "base.html" %}

{% block content %}
<h2>Update Password</h2>

<form method="POST" action="{{ url_for('Auth.update_password') }}">
    {{ form.hidden_tag() }}
    <div>
        <label for="current_password">Current Password</label>
        {{ form.current_password }}
    </div>
    <div>
        <label for="new_password">New Password</label>
        {{ form.new_password }}
    </div>
    <div>
        <label for="confirm_new_password">Confirm New Password</label>
        {{ form.confirm_new_password }}
    </div>
    <button type="submit">Update Password</button>
</form>
{% endblock %}